{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">

    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <p class="text-primary m-0 fw-bold">{{ title }}</p>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
        <div class="card-body">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button class="btn btn-primary d-block btn-user w-100" type="submit">Submit</button>
                <hr>
            </form>
        </div>
    </div>
    <br>
</div>
{% endblock %}